body {
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.65pt;
    font-size: 15pt;
    margin-top: 100px;
}
.a {
    display: inline;
}
.b {
    display: none;
}
.c {
    display: none;
}
.d {
    display: none;
}
.e {
    display: none;
}
.f {
    display: none;
}
.g {
    display: none;
}
.h {
    display: none;
}
.i {
    display: none;
}
.j {
    display: none;
}
.k {
    display: none;
}
.l {
    display: none;
}
.m {
    display: none;
}
.n {
    display: none;
}
.o {
    display: none;
}
.p {
    display: none;
}
.q {
    display: none;
}
.r {
    display: none;
}
.s {
    display: none;
}